@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Eczar:wght@400;600&family=Rowdies:wght@300;400;700&family=Shadows+Into+Light&display=swap');

:root{
    --yellow:#fed330;
    --pink:#ffaaddde;
    --pink2:#f80898de;
    --violet:#8336c7;
    --violet2:#8200f4;
    --white:#fff;
    --black:#222;
    --blue:#3a72d2;
    --blue2:#85b0fb;
    --red:#f85a5a;
    --border:.2rem solid var(--black);
}

*{
    font-family: 'Amaranth', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
}   

*::selection{
    background-color: var(--violet);
    color:var(--white);
}


::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--violet);
}

p{
    background-image: 
    url("background1.jpg");
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

.btn,
.delete-btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: .2s linear;
}

.btn{
    background-color: var(--yellow);
    color: var(--black);
}

.delete-btn{
    background-color: var(--violet);
    color: var(--black);
}

.btn:hover,
.delete-btn:hover{
    letter-spacing: .2rem;
}



section{
    margin:0 auto;
    max-width: 1200px;
    padding:2rem;
}

.title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: var(--pink2);
    text-transform: uppercase;
}



.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    border-bottom: var(--border);
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 3rem;
    color: var(--black);
    text-align: left;
}

.header .flex .navbar a{
    font-size: 2rem;
    color: var(--black);
    margin:0 1rem;
    text-align: right;
}

.header .flex .navbar a:hover{
    color: var(--yellow);
    text-decoration:underline;
}

.header .flex .icons > *{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.header .flex .icons > *:hover{
    color: var(--yellow);
}

#menu-btn{
    display: none;
}



.header .flex .profile{
    background-color: var(--white);
    border: var(--border);
    padding:1.5rem;
    text-align: center;
    position: absolute;
    top: 125%; right:2rem;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active{
    display: inline-block;
}


@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
    }
}

.header .flex .profile .name{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.header .flex .profile .account{
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--pink);
}

.header .flex .profile .account a{
    color:var(--black);
}

.header .flex .profile .account a:hover{
    color:var(--yellow);
    text-decoration: underline;
}

.login .heading {
    text-align: center;
    font-size: 4rem;
    color: var(--blue);
}

.login .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.login .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.login .row .image{
    flex:1 1 40rem;
}

.login .row .image img{
    width: 100%;
}

.login .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #222;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.login .row form .box:focus{
    border-color: var(--black);
}

.register .heading {
    text-align: center;
    font-size: 4rem;
    color: var(--black);
}

.register .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.register .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.register .row .image{
    flex:1 1 40rem;
}

.register .row .image img{
    width: 100%;
}

.register .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #222;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.register .row form .box:focus{
    border-color: var(--yellow);
}

.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem ,1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.category .box-container .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
}

.category .box-container .box img{
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.category .box-container .box h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    color: var(--violet);
    text-transform: capitalize;
}

.category .box-continer .box:hover{
    background-color: var(--white);
 }

.category .box-container .box:hover img{
    filter: invert(0);
}

.category .box-container .box:hover h3{
    color: var(--white);
}

.footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.footer .grid .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
}

.footer .grid .box img{
    height: 12rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: .5rem;
}

.footer .grid .box h3{
    margin:1rem 0;
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
}

.footer .grid .box p,
.footer .grid .box a{
    display: block;
    font-size: 1.7rem;
    background-color:var(--yellow);
    color: var(--pink2);
    line-height: 1.6;
}

.footer .grid .box a:hover{
    text-decoration: underline;
}

.footer .share{
    margin:2rem 0;
    text-align: center;
}

.footer .share a{
    height: 6rem;
    width: 6rem;
    line-height: 5.2rem;
    color: var(--white);
    background: var(--black);
    margin:0 .3rem;
    font-size: 2.5rem;
}

.footer .share a:hover{
    background: var(--pink);
}

.review .sub-heading {
    text-align: center;
    font-size: 8rem;
    color:var(--black)
}

.review .heading {
    text-align: center;
    font-size: 3rem;
    color: var(--red);
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color: #fff;
}

.review .box-container .box .stars i{
    color: var(--yellow);
    font-size: 2rem;
}

.review .box-container .box p{
    color: #222;
    font-size: 1.5rem;
    line-height: 1.5; 
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #222;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:var(--violet);
}

.contact .heading {
    text-align: center;
    font-size: 6rem;
    color: var(--violet);
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #222;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}
    
.credit{
    padding:3rem 2rem;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.credit span{
    color: var(--yellow);
}

.home{
    min-height: 76vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    background: url(image/image2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.home .homeContent{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}

.home .homeContent h2{
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}

.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.home .homeContent .home-btn{
    height: 3rem;
}

.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}

.home .homeContent .home-btn button:hover{
    font-size: 2rem;
}

.food .slide{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
    margin-bottom: 4rem;
 }

.food .slide .image{
    flex: 1 1 20rem;
}

.food .slide .image img{
    width: 90%;
}

.food .slide .content{
    flex: 1 1 40rem;
    text-align: center;
}

.food .slide .content span{
    font-size: 3rem;
    color: var(--blue);
}

.food .slide .content h3{
    font-size: 5rem;
    text-transform: capitalize;
    color:var(--black);
    padding:1rem 0;
 }



.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
}

.about .sub-heading {
    text-align: center;
    font-size: 4rem;
}

.about .heading {
    text-align: center;
    font-size: 2rem;
}


.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 90%;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 2rem;
    padding:.5rem 0;
    text-align: center;
}

.about .row .content p{
    color: var(--black);
    font-size: 2rem;
    padding:.5rem 0;
    line-height: 2;
    text-align: center;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top:.5rem;
}

.about .row .content .icons-container .icons{
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2rem;
    color: var(--pink2);
}

.about .row .content .icons-container .icons span{
    font-size: 2rem;
    color: var(--black);
}




/* media queries */

@media (max-width:991px) {
    
    html{
        font-size:55%;
    }

}

@media (max-width:768px) {

    #menu-btn{
        display: inline-block;
    }

    .header .flex .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

.header .flex .navbar a{
    display: block;
    margin: 2rem;
}
.header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
}

@media (max-width:450px) {
    
    html{
        font-size: 50%;
    }
    
    .title{
        font-size: 3rem;
    }

    .header .flex .logo{
        font-size: 2rem;
    }
    .home .slide .content h3{
        font-size: 5rem;
    }
}

.menu .sub-heading {
    text-align: center;
    font-size: 6rem;
}

.menu .heading {
    text-align: center;
    font-size: 4rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
    gap:1.5rem;
}
    
.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: (--box-shadow);
}

.menu .box-container .box .image{
    height: 38rem;
    width: 38rem;
    padding:1.5rem;
    overflow: hidden;
    position:relative;
}
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}


.menu .box-container .box h3{
    font-size: 3rem;
    text-align: center;
    color: var(--blue2);
}

.menu .box-container .box h2{
    font-size: 2.9rem;
    text-align: center;
    color: #f85a5a;
}

